extends  ../durable_general_layout
block scripts
    script(src="/javascripts/durable_admin_status.js")
block content
    br
    ol.breadcrumb
        li.active รายการสถานะครุภัณฑ์
    .well.well-sm#mdlSearch
        div.form-inline
            .row
                .col-md-5
                    .form-group
                        label รายการ
                        | &nbsp;&nbsp;
                        input#txtSearch(type="text",placeholder="Search..").form-control
                        | &nbsp;&nbsp;
                        button#btnSearch(type="button").btn.btn-success.btn-sm ค้นหา
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการสถานะครุภัณฑ์
        .panel-body
            button.btn.btn-danger.pull-right#btnShowSearch
                i.fa.fa-search
            button.btn.btn-success.pull-right#btnShowModal
                i.fa.fa-plus
                | &nbsp; เพิ่มสถานะครุภัณฑ์
            ul.pagination(data-name="paging")
            table.table.striped#tblStatus
                thead
                    tr
                        td.h4 ลำดับ
                        td.h4 รายการ
                        td.h4 แก้ไข/ลบ
                    tbody
            ul.pagination(data-name="paging")

    .modal.fade#mdlNew(tabindex='-1',role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-lable='Close')
                        span(aria-hidden='true') &times;
                    h3.modal-title  เพิ่ม/แก้ไขรายการ
                    | &nbsp;
                    | &nbsp;
                    | &nbsp;
                .modal-body
                    .alert.alert-danger.alert-dismissable(role="alert",style="display: none;")#divAlert
                        button(type="button",data-dismiss="alert",aria-label="Close").close
                            span(aria-hidden="true")
                        p รายการนี้ได้มีในระบบแล้ว
                    input(type="hidden" value="")#txtId
                    .form-group
                        label(for="txt") ชื่อสถานะ
                        input(type="text" placeholder="สถานะ")#txtStatusName.form-control
                    .modal-footer
                        button.btn.btn-primary#btnSave
                            i.fa.fa-save
                            | &nbsp; บันทึก
                        button.btn.btn-danger(data-dismiss="modal")
                            | &nbsp; ปิดหน้าต่าง